.custom-pre {
    background-color: #a2a1a1;
    font-size: 24px;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    overflow-x: auto;  /* optional, for horizontal scrolling if needed */
    font-family: Arial, sans-serif; /* Change the font to Arial or any other sans-serif font */
}